<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="GUI-challenge">
    <listeners>
        <listener class-name="AllureListener"/>
    </listeners>
    <test name="The Movie Database" >
        <classes>
            <class name="Runner" />
        </classes>
    </test>
</suite>